@use "../abstracts" as *;
.roadmap {
  background: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h4 {
      margin: 0;
    }
    &__code {
      color: $accent_color_5_2;
    }
    &__success {
      color: #fff;
      background: $accent_color_2_2;
      border-radius: 5px;
      padding: 2px 9px;
      margin-left: 8px;
    }
  }
  &__roadmap {
    margin-left: -35px;
    display: flex;
    align-items: center;
    &__child {
      position: relative;

      min-width: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__svg {
        height: 32px;
      }
      &__description {
        font-size: 10px;
      }
    }
    &__child::before {
      position: absolute;
      top: 34px;
      right: calc(50% + 15px);
      content: "";
      background: #777777;
      height: 2px;
      width: calc(100% - 30px);
    }
    &__child.active::before {
      position: absolute;
      top: 34px;
      right: calc(50% + 15px);
      content: "";
      background: rgb(128, 210, 164);
      height: 2px;
      width: calc(100% - 30px);
    }
    .firstChild::before {
      height: 0px;
      width: 0px;
    }
  }
}
