@use "../abstracts/variables" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
}
body {
	height: 100%;
	margin: 0;
}
.main {
	height: 100%;
	margin: 0;
}
button {
	border: none;
}
.mainBody {
	margin-top: 66px;
	min-height: calc(100% - 96px);
	background: $neutral_color_1_7;
}
/* .ant-menu-submenu-arrow{
    left: 10px !important;
    width: 15px;
    
} */

/* Neutral Color 1.1 */
.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
	color: #414141 !important;
}

.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow:hover {
	color: #414141 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title:active {
	color: #414141 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
	color: #414141 !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-item {
	color: #414141 !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
	border-right: 3px solid #be1e2d !important;
	color: #be1e2d;
	background-color: red !important;
}

.layout-dashboard .ant-layout-sider.sider-primary {
	margin: 0px;
}

.ant-layout {
	background: #f0f2f5;
	min-height: 100vh;
}
@media (max-width: 992px) {
	.ant-row {
		margin-left: 0;
		margin-right: 0;
	}
}

/* .ant-select-tree-list-holder{
      max-height: 500px !important;
  } */

.mainPages {
	width: 100%;
	height: 100%;
	padding: 16px;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
	background-color: #0f5c97;
}
.width0 {
	height: 0 !important;
	max-height: 0 !important;
	transition: all 0s;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
	color: $neutral_color_1_2;
	// font-size: 14px !important;
	// font-weight: '400'!important;
}

.ant-input-affix-wrapper > input.ant-input {
	color: $neutral_color_1_2;
	// font-size: 14px !important;
	// font-weight: '400'!important;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
	color: $neutral_color_1_2;
	// font-size: 14px !important;
	// font-weight: '400'!important;
}

.ant-form-item-control-input {
	min-height: auto;
}

.ant-input-number {
	border: 0px;
	background-color: $neutral_color_1_7;
	padding-top: 4px;
	// display: flex;
	// justify-content: center;
}

.t-a-end {
	text-align: end !important;
	input {
		text-align: end;
	}
}

textarea.ant-input {
	color: black;
}

.colorWeak {
	filter: invert(80%);
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
	left: unset;
}

canvas {
	display: block;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.divSpanHover:hover {
	// background-color: red;
	color: $accent_color_4_3;
}

.ant-notification {
	z-index: 99999;
}

.contentBody {
	// margin-top: 15px;
	border-radius: 5px;
	padding: 16px;
	// height: 100%;
	width: 100%;
	background-color: $neutral_color_1_8;
}

.ant-modal-root,
.ant-modal-mask,
.ant-modal-wrap {
	z-index: 97 !important;
}

/////// style row
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.col-0 {
	display: none;
}

.col-1 {
	width: calc(((100% / 12) * 1) - 4px) !important;
}
.col-2 {
	width: calc(((100% / 12) * 2) - 4px) !important;
}
.col-3 {
	width: calc(((100% / 12) * 3) - 4px) !important;
}
.col-4 {
	width: calc(((100% / 12) * 4) - 4px) !important;
}
.col-5 {
	width: calc(((100% / 12) * 5) - 4px) !important;
}
.col-6 {
	width: calc(((100% / 12) * 6) - 4px) !important;
}
.col-7 {
	width: calc(((100% / 12) * 7) - 4px) !important;
}
.col-8 {
	width: calc(((100% / 12) * 8) - 4px) !important;
}
.col-9 {
	width: calc(((100% / 12) * 9) - 4px) !important;
}
.col-10 {
	width: calc(((100% / 12) * 10) - 4px) !important;
}
.col-11 {
	width: calc(((100% / 12) * 11) - 4px) !important;
}
.col-12 {
	width: calc((100% / 12) * 12) !important;
}

.globalButton {
	width: 120px;
	height: 41px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	background: var(--background);
}

.animationButton {
	position: relative;
}

.animationButton::before,
.animationButton::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: transparent;
	border: 1px solid var(--borderColor);
	left: 0;
	border-radius: 5px;
	opacity: 0;
}

.animationButton:hover::before {
	animation: identifier 1s infinite;
}

.animationButton:hover::after {
	animation: identifier 0.5s infinite;
}

@keyframes identifier {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

.breakOneLine {
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 10px;
}
.breakTwoLine {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 10px;
	@supports (-webkit-line-clamp: 2) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: initial;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.ant-select-item-option-content {
	white-space: unset;
}

.addStores__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 0 8px;
	.addStores__footer__btn {
		margin-right: 8px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 16px;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
		min-width: 120px;
		svg {
			margin-right: 8px;
		}
		&.addBtn {
			background: #2d9cdb;
		}
		&.editBtn {
			background: #2d9cdb;
		}
	}
	.statusBtn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 16px;
		width: 127px;
		height: 32px;
		padding: 2px;
		background: #f0f2f5;
		border: solid 1px #c1c1c1;
		border-radius: 5px;
		span {
			width: 50%;
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		span.mainBtn {
			background: $primary_color_1_1;
			border-radius: 5px;
			color: $neutral_color_1_2;
			path {
				fill: $neutral_color_1_2;
			}
		}
		span.falseBtn {
			background: rgb(191, 196, 201);
			border-radius: 5px;
			color: white;
		}
	}
}

.dottedPrint {
	border-bottom: 1px dashed #999;
	text-decoration: none;
}

.barcodePrint {
	text {
		width: 100%;
	}
}

.loading_modal_tiny_parent {
	// background-color: red;
	position: absolute;
	z-index: 99999;
	width: 100%;
	// height: 100%;
}
.loading_modal_tiny_child {
	margin-top: 200px;
	margin-left: 50px;
	// background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	// z-index: 9999;
	// background-color: ;
}

.borderOutline-table {
	border: 0.6px solid $neutral_color_1_6;
}

.defaultDate {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px $neutral_color_1_5;
	border-radius: 5px;
	height: 35px;
}

.defaultSelect {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px $neutral_color_1_5;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	height: 35px;
	font-weight: 600;
	cursor: pointer;
	.ant-select-selector {
		height: 100% !important;
		border: none !important;
	}
	.ant-select-selection-item,
	input,
	.ant-select-selection-placeholder {
		height: 100% !important;

		display: flex;
		align-items: center;
	}
}

.defaultInput {
	height: 35px !important;
	border-radius: 5px !important;
	padding: 0 12px !important;
	background-color: $neutral_color_1_8 !important;
	border: 1px solid $neutral_color_1_5 !important;
	color: $neutral_color_1_1 !important;
	font-size: 14px !important;
	position: relative !important;
	width: 100% !important;
}

.defaultInputNumber {
	height: 35px;
	border-radius: 5px !important;
	text-align: right;

	background-color: $neutral_color_1_8;
	border: 1px solid $neutral_color_1_5;
	color: $neutral_color_1_1;
	font-size: 14px;
	position: relative;
	width: 100% !important;
	padding: 0 !important;
	.ant-input-number-handler-wrap {
		display: none;
	}
	.ant-input-number-input-wrap {
		height: 100%;
		width: 100%;
		input {
			height: 100%;
			text-align: right;
		}
	}
}

.defaultFormInput {
	width: 100%;

	input {
		height: 41px;
		border-radius: 5px;
		padding: 0 12px;
		background-color: $neutral_color_1_8;
		border: 1px solid $neutral_color_1_5;
		color: $neutral_color_1_1;
		font-size: 14px;
		position: relative;
		width: 100%;
	}
}
.defaultButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000 !important;
	color: $primary_color_1_1;
	border: solid 1px #000;
	border-radius: 5px;
	min-width: 120px;
	height: 33px;
	font-weight: 600;
	padding: 9px 12px;
	cursor: pointer;
	svg path {
		fill: $primary_color_1_1;
	}
}

.searchButton {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	border: solid 1px #000;
	border-radius: 5px;
	min-width: 120px;
	height: 33px;
	padding: 0 12px;

	font-weight: 600;
	cursor: pointer;
	svg {
		margin: 0;
	}
	svg path {
		fill: #000;
	}
}

.statusA {
	color: #fff;
	border-radius: 5px;
	padding: 4px 9px;
	background: $accent_color_5_2;
	text-align: center;
}

.statusD {
	color: #fff;
	border-radius: 5px;
	padding: 4px 9px;
	background: $neutral_color_1_3;
	text-align: center;
}

.ant-switch {
	background: #fff;
	border: solid 1px $neutral_color_1_5;
	display: flex;
	align-items: center;
	.ant-switch-handle {
		top: 2px;
	}
	.ant-switch-handle::before {
		background: #fff;
	}
}

.ant-switch.ant-switch-checked {
	background: $neutral_color_1_2;
	border: solid 1px $neutral_color_1_2;
	display: flex;
	align-items: center;
	.ant-switch-handle {
		top: 1px;
	}
	.ant-switch-handle::before {
		background: $primary_color_1_1;
	}
}

.borderIcon {
	border: solid 1px $neutral_color_1_3;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		transform: scale(0.6);
		path {
			fill: $neutral_color_1_3;
		}
	}
}

.ant-switch {
	position: relative;
	width: 50px;
	.ant-switch-inner {
		position: absolute;
		top: calc(50% + 3px);
		left: -24px;
		transform: translateY(-50%);
	}
}

.ant-switch.ant-switch-checked {
	position: relative;
	width: 50px;
	.ant-switch-inner {
		width: 100%;
		position: absolute;
		top: calc(50% + 3px);
		right: -38px !important;
		left: unset !important;
		transform: translateY(-50%);
	}
}

.newStatus {
	color: #fff;
	background: $accent_color_5_2;
	border-radius: 5px;
	padding: 2px 9px;
	display: inline-block;
}

.processStatus {
	color: #fff;
	background: $accent_color_5_1;
	border-radius: 5px;
	padding: 2px 9px;
	display: inline-block;
}

.completeStatus {
	color: #fff;
	background: $accent_color_2_2;
	border-radius: 5px;
	padding: 2px 9px;
	display: inline-block;
}

.uncompleteStatus {
	color: #fff;
	background: $accent_color_3_2;
	border-radius: 5px;
	padding: 2px 9px;
	display: inline-block;
}

.cancelStatus {
	color: #fff;
	background: $accent_color_4_2;
	border-radius: 5px;
	padding: 2px 9px;
	display: inline-block;
}

.googleLogin {
	width: 100%;
	margin-top: 8px;
	&__buttonGoogle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 44px;
		border-radius: 5px;
		border: 1px solid #333333;
		font-size: 16px;
		cursor: pointer;
		font-weight: 500;
	}
	&__buttonFacebook {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 44px;
		border-radius: 5px;
		background: #fff;
		border: 1px solid #333333;
		font-size: 16px;
		cursor: pointer;
		font-weight: 500;
	}
}

.kep-login-facebook.metro {
	height: 44px;
	width: 100%;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.ant-radio-checked .ant-radio-inner {
	border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after {
	background-color: red !important;
}

.ant-radio:hover .ant-radio-inner {
	border-color: red !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: red !important;
	border-color: red !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
	background-color: red !important;
	border-color: red !important;
}

.ant-form-item-required::before {
	display: none !important;
}

.labelRight {
	.ant-col.ant-form-item-label {
		text-align: right !important;
	}
}

.thumbnailImage {
	position: relative;
	&__overplay {
		display: none;
		border-radius: 5px;
		position: absolute;
		background-color: #000;
	}
	img {
		max-height: 100px;
		width: auto;
		object-fit: contain;
		border-radius: 5px;
	}
	&:hover {
		.thumbnailImage__overplay {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.3);
			span {
				cursor: pointer;
			}
			svg {
				transform: scale(1.5);
			}
			path {
				fill: #fff;
			}
		}
	}
}

.paddingTd {
	padding: 4px 8px !important;
}

.ant-table-thead > tr > .ant-table-cell {
	padding: 4px 8px !important;
}

.ant-tooltip {
	max-width: unset !important;
	background: #fff !important;
}
.ant-tooltip-inner {
	background: #fff !important;
}

.navSearch {
	position: fixed;
	right: -100%;
	background: #fff;
	width: 300px;
	top: 0;
	height: 100%;
	z-index: 1000;
	padding: 16px;
	transition: all 0.1s linear;
}

.navSearch.active {
	right: 0;

	transition: all 0.1s linear;
}
