@use "../abstracts" as *;
.modalChooseShipper {
	&__form {
		&__option {
			position: relative;
			background: $neutral_color_1_7;
			border-left: solid 4px $neutral_color_1_4;
			padding: 16px;
			margin-bottom: 4px;
			cursor: pointer;
			&__select {
				display: flex;
				align-items: center;
				span {
					width: 40%;
				}
				:nth-child(1) {
					font-weight: bold;
				}
				:nth-child(2) {
					color: red;
				}
			}
			&__time {
				display: flex;
				align-items: center;
				span {
					width: 40%;
				}
			}
			svg {
				position: absolute;
				right: 36px;
				top: 50%;
				transform: translateY(-50%);
				path {
					fill: $primary_color_1_2;
				}
			}
		}
		&__option.active {
			background: #e3ecfb;
			border-left: solid 4px $primary_color_1_2;
		}
	}
}

.modalChoosePayment {
	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		&__item {
			width: calc(50% - 4px);
		}
		&__button {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			div {
				margin-right: 8px;
			}
		}
	}
}

.formAddProduct {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.ant-form-item {
		width: calc(50% - 4px);
	}
}

.formAddSupplier {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.ant-form-item {
		width: calc((100% - 24px) / 4);
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		&__status {
			display: flex;
			align-items: center;
		}
	}
}

.formAddStore {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.ant-form-item {
		width: calc((100% - 24px) / 4);
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		&__status {
			display: flex;
			align-items: center;
		}
	}
}
